*,::before,::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btnBadge{
  background: rgb(68 179 40 / 43%) !important;
  color: green !important;
}

.meBg{
  /* position: absolute;
  bottom: 0; */
  background: url('./../../public/images/me.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  width: 75px;
  height: 75px;
  border: 5px solid rgba(133, 224, 133, 0.575);
  /* margin-left: 1rem; */
}

.sgfont-1{
  font-size: 1rem !important;
}

.react-tabs__tab--selected{
  background-color: rgba(133, 224, 133, 0.575) !important;
  border: none !important;
  color: green !important;
  font-weight: bold;
}