.main{
  display: flex;
  justify-content: center;
 
  background: #F3F4F6;
  min-height: 100vh;
  height: auto;
  padding: 1rem;
  .container {
    width: 1024px;
    max-width: 1024px;
    height: auto;
    // border: 1px solid;
  }
}